@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

*{
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

/* Create two unequal columns that float next to each other */
.topColumnLeft {
    float: left;
    min-width: 150px;
    width: 66.66%;
    padding: 10px;
} 
.topColumnRight {
    float: right;
    min-width: 150px;
    width: 33.33%;
    padding: 10px;
}

/* Create three equal columns that float next to each other */
.column {
    float: left;
    min-width: 242px;
    width: 33.33%;
    padding: 10px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div {
    background-color: inherit
}

div.fileSelect {
    padding-left: 10px;
    height: 22px;
}

div.fileSelect:before  {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

#logSeedDiv {
    height: 80px;
    padding-top: 5px;
}

div.inBlockAlign {
    content: "";
    display: inline-block;
    vertical-align: top;
}

div.inBlockAlign:before  {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

div.logSeedChild {
    display: inline-block;
    vertical-align: middle;
}

button {
    border: 1px solid black;
    font-weight: bold;
    margin-bottom: 3px;
    width: 120px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
}

#inputFileDiv {
    margin-bottom: 3px;
}

button:not(:disabled):hover {
    border: 2px solid rgb( 27, 68, 97 );
    font-weight: bold;
    width: 120px;
    height: 22px;
    vertical-align: 0%
}

span.fileName {
    background-color: white;
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc( 100% - 135px );
    height: 22px;
    margin-left: 5px;
    padding: 1px;
    vertical-align: 0%;
    display: inline-block;
    vertical-align: top;
}

#logLevelDiv {
    min-width: 225px;
    width: calc( 50% - 30px );
}

#topRightSection {
    padding-left: 10px;
}

hr {
    width: 100%;
    margin: 0px;
    border-top: 1px solid lightgrey;
    padding: 0px 10px;
}

div.category {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin: 10px 10px 20px 10px;
    padding: 10px;
}

h1.category {
    font-size: 15px;
    margin-top: -20px;
    margin-left: 0px;
    width: max-content;
    background-color: inherit;
}

#digimondata {
    min-width: 212px;
}

#techdata {
    min-width: 212px;
}

#starter {
    min-width: 212px;
}

#digimonevos {
    min-width: 212px;
}

#chests {
    min-width: 212px;
}

#tokomon {
    min-width: 212px;
}

#spawns {
    min-width: 212px;
}

#recruit {
    min-width: 212px;
}

#techgifts{
    min-width: 212px;
}

#patches{
    min-width: 212px;
}

/* checkbox styling */
input[type="checkbox"] { 
    position: absolute; 
    opacity: 0; 
    z-index: -1; 
}

input[type="checkbox"]+span { 
    font-size: 16px; 
    color: black; 
}

input[type="checkbox"]+span:before { 
    font: 14pt FontAwesome; 
    content: '\00f096';
    display: inline-block; 
    width: 13pt; 
    padding: 2px 0 0 3px; 
    margin-right: 0.5em; 
}

input[type="checkbox"]:checked+span:before { 
    content: '\00f046';
}

input[type="checkbox"]:focus+span:before { 
    outline: 1px dotted #aaa; 

}

input[type="checkbox"]:disabled+span {
    color: #999; 
}

input[type="checkbox"]:not(:disabled)+span:hover:before { 
    text-shadow: 0 1px 2px #77F;
}

/*tooltip styling */
.tooltip {
    font: 12pt FontAwesome; 
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 400px;
    background-color: rgb( 250, 250, 210 );
    font-size: 12px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 2px 2px;

    /* position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 20%;
    margin-top: 5px;

    /* animation transition (fade-in) */
    opacity: 0;
    transition: opacity 0.3s;
}

.bottomRightColumn .tooltiptext {
    right: 20%;
    left: auto;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.bottomRightColumn .tooltiptext::after {
    right: 15px;
    left: auto;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* slider styling */
.slidecontainer {
    width: 100%;
}

/* The slider itself */
input[type="range"] {
    -webkit-appearance: none;
    width: 75%;
    height: 8px;
    border-radius: 5px;
    background: rgb( 170, 170, 170 );
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]:disabled {
    background: rgb( 210, 210, 210 );
}
  
/* Mouse-over effects */
input[type="range"]:not(:disabled)+:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb( 100, 100, 100 );
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb( 100, 100, 100 );
  cursor: pointer;
}

span.slidervalue {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 22%;
    display: inline-block;
}

/* number input styling */
#setSpawnRate {
    margin: 4px 0px;
    width: 28px;
}

#seed {
    margin: 4px 0px;
    width: 80px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:disabled {
    color: rgb( 210, 210, 210 );
}

input[type="number"]+span { 
    margin-left: 6px;
    font-size: 16px; 
    color: black; 
}

input[type="number"]:disabled+span {
    color: #999; 
}

/* multi select styling */
input[type="radio"] {
    margin: 4px 10px;
}

input[type="radio"]:disabled {
    color: rgb( 210, 210, 210 );
}

input[type="radio"]:disabled+label {
    color: #999; 
}

.terminalOutput {
    position: fixed;
    border: 3px solid rgb(38, 99, 143);
    height: 130px;
    width: 80%;
    background-color: black;
    color: white;
}

.terminalOutput .terminalHeader {
    position: fixed;
    border: 2px solid rgb(27, 68, 97);
    height: 26px;
    width: calc(80% - 8px);
    background-color: white;
    margin: 1px;
    padding: 2px 4px;
    color: black;
}

.terminalOutput .terminalTextBox {
    height: calc(100% - 36px);
    overflow-y: auto;
    padding: 0px 8px;
    text-align: left;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    color: white;
}

.terminalOutput .terminalTextBox .error {
    font-style: bold;
    color: #A82A2A;
}
