*{
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    line-height: 1;
    margin: 0;
}

::-webkit-scrollbar:horizontal {
    display: none;
}
  
.window {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#file-section-wrapper {
    position: relative;
    padding: 0px;
    height: 178px;
    border-radius: 0;
    flex-shrink: 0;
}

#file-section {
    padding: 5px;
    height: 145px;
}

.tab-group {
    padding-left: 15px;
    box-shadow: 0 -1px 0px 1px rgba( 16, 22, 26, 0.15 );
    margin-top: 3px;
    background-color: rgb( 245, 245, 255 );
}

.tab {
    padding: 0px 10px;
}

#data-section {
    overflow-y: hidden;
    height: 495px;
}

.fill {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
}

.column {
    float: left;
}

.one-third {
    width: 33.33%;
}

.one-half {
    width: 50%;
}

.two-thirds {
    width: 66.66%;
}

.tooltip-popover {
    max-width: 400px;
}

div {
    background-color: inherit
}

button {
    margin-bottom: 3px;
    width: 140px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
}

button#randomize {
    margin-top: 10px;
}

.file-select-row {
    display: flex;
}

.file-select:not(.unselected) span {
    direction: rtl;
    color: black;
}

#input-file {
    margin-bottom: 3px;
}

#input-file button,
#output-file button {
    width: 110px;
}

#input-file label:first-of-type,
#output-file label:first-of-type,
.log-subsection label:first-of-type,
#seed {
    width: 60px;
    margin: 0px 15px 0px 5px;
    text-align: right;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    flex-shrink: 0;
}

#log-seed-section {
    display: flex;
    flex-direction: column;
    margin: 3px 0px 0px;
}

.seed-subsection {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.log-subsection {
    display: flex;
    line-height: 32px;
}

#log-seed-section .log-subsection > * {
    height: 32px;
    margin-bottom: 0px;
    margin-right: 15px;
}

span.fileName {
    background-color: white;
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc( 100% - 135px );
    height: 22px;
    margin-left: 5px;
    padding: 1px;
    vertical-align: 0%;
    display: inline-block;
    vertical-align: top;
}

#topRightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
    margin: 0px;
    border-top: 1px solid lightgrey;
    padding: 0px 10px;
}

div.category {
    display: flex;
    flex-direction: column;
    margin: 12px 6px;
    padding: 0px 10px;
}

h1.category {
    font-size: 15px;
    margin-left: 15px;
    background-color: inherit;
    padding-top: 5px;
}

/* Element styling */
.element.slider {
    margin-left: 8px;
    min-width: 110px;
}

.element.option {
    margin-left: 10px;
}

.element.dropdown {
    margin-bottom: 8px;
}

/* Special styling */
#misc-patches {
    flex-wrap: wrap;
    height: 200px;
}

/* Terminal Styling */
.terminalOutput {
    position: fixed;
    border: 3px solid rgb(38, 99, 143);
    height: 160px;
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0;
    resize: vertical;
    overflow: auto;
}

.terminalOutput .terminalHeader {
    position: fixed;
    border: 2px solid rgb(27, 68, 97);
    height: 26px;
    width: calc(100% - 8px);
    background-color: white;
    margin: 1px;
    padding: 2px 4px;
    color: black;
}

.terminalOutput .terminalTextBox {
    height: calc(100% - 32px);
    width: calc(100% - 2px);
    margin-top: 30px;
    overflow-y: auto;
    text-align: left;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    color: white;
}

.terminalOutput .terminalTextBox .error {
    font-style: bold;
    color: #A82A2A;
}
