@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

*{
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div {
    background-color: inherit
}

hr {
    width: 100%;
    border-top: 1px solid lightgrey;
    margin: 20px 10px
}

div.category {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin: 20px 10px 10px 10px;
    padding: 10px;
}

#digimondata {
    min-width: 200px;
}

#techdata {
    min-width: 200px;
}

#starter {
    min-width: 200px;
}

#recruit {
    min-width: 200px;
}

h1.category {
    font-size: 16px;
    margin-top: -20px;
    margin-left: 0px;
    width: max-content;
    background-color: inherit;
}

/* checkbox styling */
input[type="checkbox"] { 
    position: absolute; 
    opacity: 0; 
    z-index: -1; 
}

input[type="checkbox"]+span { 
    font-size: 16px; 
    color: black; 
}
input[type="checkbox"]+span:before { 
    font: 16pt FontAwesome; 
    content: '\00f096';
    display: inline-block; 
    width: 14pt; 
    padding: 2px 0 0 3px; 
    margin-right: 0.5em; 
}
input[type="checkbox"]:checked+span:before { 
    content: '\00f046';
}

input[type="checkbox"]:focus+span:before { 
    outline: 1px dotted #aaa; 

    }
input[type="checkbox"]:disabled+span {
    color: #999; 
}

input[type="checkbox"]:not(:disabled)+span:hover:before { 
    text-shadow: 0 1px 2px #77F;
}

/*tooltip styling */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 400px;
    background-color: rgb( 250, 250, 210 );
    font-size: 12px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 2px 2px;

    /* position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 20%;
    margin-top: 5px;

    /* animation transition (fade-in) */
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 15px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* slider styling */
.slidecontainer {
    width: 100%;
}

/* The slider itself */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: rgb( 170, 170, 170 );
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]:disabled {
    background: rgb( 210, 210, 210 );
}
  
/* Mouse-over effects */
input[type="range"]:not(:disabled)+:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb( 100, 100, 100 );
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb( 100, 100, 100 );
  cursor: pointer;
}
